// Variables
$main-font-size: 3rem;

// Mixins
@mixin btn-default {
  border: none;
  cursor: pointer;
  background: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  // border: 1px solid black;
  // background-color: grey;
}
