$mg-btm-section: 5%;
$ft-size-header: 1.7rem;
$top-height: 10%;
$mid-height: 30%;
$btm-height: 50%;

.main {
  height: 75vh;
  display: flex;
  justify-content: space-between;
  &__daily {
    width: 65%;
    border: 1px solid black;
    border-radius: $br-std;
    padding: $p-std;
    .top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      min-height: 40px;
      height: $top-height;
      .header {
        display: flex;
        align-items: center;
        font-size: $ft-size-header;
      }
      .bookmark {
        display: flex;
        align-items: center;
        i {
          font-size: 2.3rem;
          color: blue;
        }
      }
    }
    .mid {
      display: flex;
      justify-content: space-between;
      margin-bottom: $mg-btm-section;
      min-height: 155px;
      height: $mid-height;
      .weather-info {
        &--main {
          width: 55%;
          display: flex;
          justify-content: space-between;
          padding: 25px $p-lr-std;
          border: 1px solid black;
          border-radius: $br-std;
          .weather-icon--lg {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;
            i {
              font-size: 7rem;
              color: yellow;
            }
          }
          .contents {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 1.5rem;
            .city {
              font-size: 2.5rem;
            }
          }
        }
        &--detail {
          width: 40%;
          padding: $p-std;
          border: 1px solid black;
          border-radius: $br-std;
          .contents {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            font-size: 1.3rem;
          }
        }
      }
    }
    .btm {
      display: flex;
      justify-content: space-between;
      border: 1px solid black;
      border-radius: $br-std;
      min-height: 260px;
      height: $btm-height;
      .weather-info-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .weather-info--hourly {
          display: flex;
          justify-content: space-between;
          padding: 10px 20px;
          font-size: 1.2rem;
          .weather {
            display: flex;
            .temperature {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }

  &__weekly {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px solid black;
    border-radius: $br-std;
    padding: $p-std;
    .header {
      font-size: $ft-size-header;
      margin-bottom: $mg-btm-section;
    }
    .weather-info-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      border: 1px solid black;
      border-radius: $br-std;
      padding: 0 $p-lr-std;
      font-size: 1.5rem;
      .weather-info-daily {
        display: flex;
        justify-content: space-between;
        .weather {
          display: flex;
          .temperature {
            margin-left: 20px;
          }
        }
      }
    }
  }
}
