$mg-btm-section: 3%;
$ft-size-header: 1.7rem;
$top-height: 10%;
$mid-height: 30%;
$btm-height: 50%;

.main {
  height: 75vh;
  display: flex;
  justify-content: space-between;
  &__daily {
    width: 65%;
    border: 1px solid black;
    border-radius: $br-std;
    padding: $p-std;
    .top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      min-height: 40px;
      height: $top-height;
      .header {
        display: flex;
        align-items: center;
        font-size: $ft-size-header;
      }
      .bookmark {
        display: flex;
        align-items: center;
        i {
          font-size: 2.3rem;
          color: blue;
        }
      }
    }
    .mid {
      display: flex;
      justify-content: space-between;
      margin-bottom: $mg-btm-section;
      min-height: 155px;
      height: $mid-height;
      .weather-info {
        &--main {
          width: 55%;
          display: flex;
          justify-content: space-between;
          padding: 25px $p-lr-std;
          border: 1px solid black;
          border-radius: $br-std;
          .weather-icon--lg {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;
            img {
              height: 200px;
              width: 200px;
            }
          }
          .contents {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 1.5rem;
            .city {
              font-size: 2.5rem;
            }
          }
        }
        &--detail {
          width: 40%;
          padding: $p-std;
          border: 1px solid black;
          border-radius: $br-std;
          .contents {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            font-size: 1.3rem;
          }
        }
      }
    }
    .btm {
      display: flex;
      justify-content: space-between;
      border: 1px solid black;
      border-radius: $br-std;
      min-height: 260px;
      height: $btm-height;
      .weather-info-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .weather-info--hourly {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 20px;
          font-size: 1.2rem;
          .weather {
            display: flex;
            align-items: center;
            .weather-icon--sm {
              height: 30px;
              width: 30px;
              img {
                height: 30px;
                width: 30px;
              }
            }
            .temperature {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }

  &__weekly {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px solid black;
    border-radius: $br-std;
    padding: $p-std;
    .header {
      font-size: $ft-size-header;
      margin-bottom: $mg-btm-section;
    }
    .weather-info-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      border: 1px solid black;
      border-radius: $br-std;
      padding: 0 $p-lr-std;
      font-size: 1.5rem;
      .weather-info-daily {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .weather {
          display: flex;
          align-items: center;
          .temperature {
            margin-left: 20px;
          }
        }
      }
    }
  }

  .search-result {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
    border-radius: $br-std;
    padding: 40px;
    &__header {
      height: 5%;
      min-height: 25px;
      font-size: 1.3rem;
      display: flex;
      align-items: center;
      margin-bottom: $mg-btm-section;
    }
    &__grid {
      display: grid;
      grid-template-rows: repeat(auto-fit, 250px);
      grid-template-columns: repeat(auto-fit, 275px);
      height: 90%;
    }
    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 15px 20px;
      border: 1px solid black;
      border-radius: $br-std;
      .top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .location {
          .city {
            font-size: 2.5rem;
            margin-bottom: 0.8rem;
          }
          .country {
            font-size: 1.25rem;
            margin-left: 2.5px;
          }
        }
        .bookmark {
          font-size: 2.5rem;
          color: blue;
        }
      }
      .btm {
        display: flex;
        .weather-icon {
          display: flex;
          justify-content: center;
          overflow: hidden;
          width: 50px;
          img {
            height: 100px;
          }
        }
        .weather-info {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 30px;
          .temperature {
            font-size: 2rem;
          }
          .time {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
